@import "reset";
@import "variables";

@mixin clearfix {
  &:after {
    content: "";
    clear: both;
    display: table;
  }
}

@mixin col {
  padding: 0 10px;
  float: left;
  position: relative;
}

body {
  font-size: #{$remSize}px;
}


.f-left {
  float: left;
}

.f-right {
  float: right;
}

.clearfix {
  @include clearfix();
}

.container {

}

.row {
  margin: 0 -$gutter;
  @include clearfix();
}

.col-12 {
  @include col();
  width: 100%;
}

.col-lg-6 {
  @include col();
  @media only screen and (min-width: $lg) {
    width: 50%;
  }
}


.form {
  display: block;
  width: 100%;
  padding: 0 10px;
  max-width: 600px;
  margin: 0 auto;
  @media only screen and (min-width: $lg) {
    padding: 0;
  }

  &__input {
    width: 100%;
    border: 0;
    background-color: #FAFAFA;
    height: 36px;
  }

  &__textarea {
    width: 100%;
    border: 0;
    background-color: #FAFAFA;
    min-height: 150px;

    ::placeholder {
      color: $grey-92;
    }
  }

  &__char-left {
    color: $grey-92;
    margin: 20px 0;
    font-size: 14rem/$remSize;
  }

  &__label {
    margin: 20px 0;
    font-size: 14rem/$remSize;
    display: inline-block;
    color: #3D3D3D;
  }

  &__submit {
    display: block;
    margin-top: 20px;
    background-color: #5E519D;
    text-align: center;
    color: white;
    width: 140px;
    font-size: 19rem/$remSize;
    border-radius: 4px;
    padding: (21px/2) 0;
    margin-left: auto;
    border: none;
    @media only screen and (min-width: $lg) {
      margin-right: auto;
    }
  }

}
